<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="assets/img/blog-author.jpg" alt="{{site.name}}">
        <p class="def">Fabrício Fernandes Ziliotti - dono do Blog</p>
        <p class="desc">dassd</p>
        <!-- <p><a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a></p> -->
        <p><a itemprop="github" class="github" href="https://github.com/{{site.github_username}}">github.com/{{site.github_username}}</a></p>
        
    </div>
</section>
